# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Loggit.iml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\sirbr\Documents\coding\projects\C#\loggit\src\.idea\.idea.Loggit\.idea/dataSources/
/dataSources.local.xml
